@using Roovia.Models.Helper
@using Roovia.Models.Users
<Roovia.Components.Elements.Modal IsVisible=true Title="Company">
    <ChildContent>
        <div class="modal-header">
            <h5 class="modal-title">Add New Company</h5>
        </div>
        <div class="modal-body">
            <EditForm Model="NewCompany" OnValidSubmit="HandleValidSubmit">
                <Roovia.Components.Elements.Textbox Label="Company Name" Id="companyName" Value="@NewCompany.Name"></Roovia.Components.Elements.Textbox>
                <Roovia.Components.Elements.Textbox Label="Registration Number" Id="registrationNumber" Value="@NewCompany.RegistrationNumber"></Roovia.Components.Elements.Textbox>
                <Roovia.Components.Elements.Textbox Label="Contact Number" Id="contactNumber" Value="@NewCompany.ContactNumber"></Roovia.Components.Elements.Textbox>
                <Roovia.Components.Elements.Textbox Label="Email" Id="email" Value="@NewCompany.Email"></Roovia.Components.Elements.Textbox>
                <Roovia.Components.Elements.Textbox Label="Website" Id="website" Value="@NewCompany.Website"></Roovia.Components.Elements.Textbox>
                <Roovia.Components.Elements.Textbox Label="VAT Number" Id="vatNumber" Value="@NewCompany.VatNumber"></Roovia.Components.Elements.Textbox>
                <Roovia.Components.Elements.Textbox Label="Street" Id="addressStreet" Value="@NewCompany.Address.Street"></Roovia.Components.Elements.Textbox>
                <Roovia.Components.Elements.Textbox Label="City" Id="addressCity" Value="@NewCompany.Address.City"></Roovia.Components.Elements.Textbox>
                <Roovia.Components.Elements.Textbox Label="Province" Id="addressProvince" Value="@NewCompany.Address.Province"></Roovia.Components.Elements.Textbox>
                <Roovia.Components.Elements.Textbox Label="Postal Code" Id="addressPostalCode" Value="@NewCompany.Address.PostalCode"></Roovia.Components.Elements.Textbox>
                <Roovia.Components.Elements.Textbox Label="Country" Id="addressCountry" Value="@NewCompany.Address.Country"></Roovia.Components.Elements.Textbox>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Save</button>
                    <button type="button" class="btn btn-secondary" @onclick="CloseModal">Cancel</button>
                </div>
            </EditForm>
        </div>
    </ChildContent>
</Roovia.Components.Elements.Modal>

@code {
    bool isVisible = true;

    private Company NewCompany { get; set; } = new Company
        {
            Address = new Address()
        };

    private void HandleValidSubmit()
    {
        // Logic to save the new company details
        Console.WriteLine($"Company Saved: {NewCompany.Name}");
        CloseModal();
    }

    private void CloseModal()
    {
        // Logic to close the modal
        Console.WriteLine("Modal Closed");
    }
}
