@using Roovia.Models.Helper
@using Roovia.Models.Users
<RVModal IsVisible=true Title="Company">
    <ChildContent>
        <div class="modal-header">
            <h5 class="modal-title">Add New Company</h5>
        </div>
        <div class="modal-body">
            <EditForm Model="NewCompany" OnValidSubmit="HandleValidSubmit">
                <RVTextbox Label="Company Name" Id="companyName" Value="@NewCompany.Name"></RVTextbox>
                <RVTextbox Label="Registration Number" Id="registrationNumber" Value="@NewCompany.RegistrationNumber"></RVTextbox>
                <RVTextbox Label="Contact Number" Id="contactNumber" Value="@NewCompany.ContactNumber"></RVTextbox>
                <RVTextbox Label="Email" Id="email" Value="@NewCompany.Email"></RVTextbox>
                <RVTextbox Label="Website" Id="website" Value="@NewCompany.Website"></RVTextbox>
                <RVTextbox Label="VAT Number" Id="vatNumber" Value="@NewCompany.VatNumber"></RVTextbox>
                <RVTextbox Label="Street" Id="addressStreet" Value="@NewCompany.Address.Street"></RVTextbox>
                <RVTextbox Label="City" Id="addressCity" Value="@NewCompany.Address.City"></RVTextbox>
                <RVTextbox Label="Province" Id="addressProvince" Value="@NewCompany.Address.Province"></RVTextbox>
                <RVTextbox Label="Postal Code" Id="addressPostalCode" Value="@NewCompany.Address.PostalCode"></RVTextbox>
                <RVTextbox Label="Country" Id="addressCountry" Value="@NewCompany.Address.Country"></RVTextbox>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Save</button>
                    <button type="button" class="btn btn-secondary" @onclick="CloseModal">Cancel</button>
                </div>
            </EditForm>
        </div>
    </ChildContent>
</RVModal>

@code {
    bool isVisible = true;

    private Company NewCompany { get; set; } = new Company
        {
            Address = new Address()
        };

    private void HandleValidSubmit()
    {
        // Logic to save the new company details
        Console.WriteLine($"Company Saved: {NewCompany.Name}");
        CloseModal();
    }

    private void CloseModal()
    {
        // Logic to close the modal
        Console.WriteLine("Modal Closed");
    }
}
