@using Roovia.Interfaces
@using Roovia.Models.Helper  
@using Roovia.Models.Properties  
@using Roovia.Models.PropertyOwner  
@using Roovia.Services

@inject IPropertyOwner PropertyOwnerService
@inject ToastService ToastService

@rendermode InteractiveServer

<RVModal CloseOnBackdrop="true" CloseOnEsc="true" Icon="fas fa-user" IsVisible="@IsVisible">
    <ChildContent>  
        <h3>Property Owner</h3>  
        <RVTextbox Label="First Name" Value="@Owner.FirstName"></RVTextbox>  
        <RVTextbox Label="Last Name" Value="@Owner.LastName"></RVTextbox>  
        <RVTextbox Label="ID Number" Value="@Owner.IdNumber"></RVTextbox>  
        <RVTextbox Label="VAT Number" Value="@Owner.VatNumber"></RVTextbox>  
        <RVTextbox Label="Email Address" Value="@Owner.EmailAddress"></RVTextbox>  
        <RVTextbox Label="Mobile Number" Value="@Owner.MobileNumber"></RVTextbox>  
        @* 
        <h4>Bank Account</h4>  
        <RVTextbox Label="Account Type" Value="@Owner.BankAccount.AccountType"></RVTextbox>  
        <RVTextbox Label="Account Number" Value="@Owner.BankAccount.AccountNumber"></RVTextbox>  
        <RVTextbox Label="Branch Code" Value="@Owner.BankAccount.BranchCode"></RVTextbox>  

        <h4>Address</h4>  
        <RVTextbox Label="Street" Value="@Owner.Address.Street"></RVTextbox>  
        <RVTextbox Label="City" Value="@Owner.Address.City"></RVTextbox>  
        <RVTextbox Label="Province" Value="@Owner.Address.Province"></RVTextbox>  
        <RVTextbox Label="Postal Code" Value="@Owner.Address.PostalCode"></RVTextbox>  
        <RVTextbox Label="Country" Value="@Owner.Address.Country"></RVTextbox>  *@ 
    </ChildContent>  
    <FooterContent>
        <button class="btn roovia-btn-primary" @onclick="SavePropertyOwner">Save</button>  
        <button class="btn roovia-btn-secondary" @onclick="() => IsVisible = false">Cancel</button>
    </FooterContent>
</RVModal>  

@code {
    [Parameter]  
    public PropertyOwner Owner { get; set; } = new();

    bool IsVisible = true;

    protected override async Task OnParametersSetAsync()  
    {  
        Owner.FirstName = "DefaultFirstName";  
        Owner.LastName = "DefaultLastName";  
        Owner.IdNumber = "0000000000000";  
        Owner.VatNumber = "0000000000";  
        Owner.EmailAddress = "default@example.com";  
        Owner.MobileNumber = "0000000000";  
        Owner.IsEmailNotificationsEnabled = "false";  
        Owner.IsSmsNotificationsEnabled = "false";  
        Owner.BankAccount = new BankAccount  
       {  
           AccountType = "DefaultType",  
           AccountNumber = "0000000000",  
           BankName = new BankName(),  
           BranchCode = "0000"  
       };  
        Owner.Address = new Address  
       {  
           Street = "Default Street",  
           City = "Default City",  
           Province = "Default Province",  
           PostalCode = "0000",  
           Country = "Default Country"  
       };  
        Owner.Properties = new List<Property>();  
    }  

    private async Task SavePropertyOwner()
    {
        var response = await PropertyOwnerService.CreatePropertyOwner(Owner);
        if(response.ResponseInfo.Success == false)
        {
            ToastService.ShowError($"{response.ResponseInfo.Message}", "Error!");
        }
        else
        {
            ToastService.ShowSuccess($"{response.ResponseInfo.Message}", "Success!");
            IsVisible = false;
        }
    }  
}
